{% extends 'base.html' %}
{% from 'content.j2' import render_form %}
{% from 'lib.j2' import select2_js, select2_css %}

{% block main %}
    <main class="d-flex flex-grow-1 align-items-center justify-content-evenly">
        <div class="container-sm">
            <div class="mims-container col-6 m-auto">
                <div class="row">
                    <h2>{% if not is_editing %}Step 2 of 2: {% endif %}Dataset Upload</h2>
                    {% if is_editing %}
                        <div class="alert alert-dismissible alert-info mt-4">
                            <strong>Note!</strong> Uploading a dataset after one has already been uploaded will
                            result in the previous dataset being overwritten.
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    {{ render_form(form, submission, submit_target=url_for('.upload', id=submission_id), cancel_target=url_for('.detail', id=submission_id),file_upload=true, full_width=true) }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/submission.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}