{% extends 'base.html' %}
{% from 'content.j2' import render_table, render_button, obj_link %}

{% block main %}
    <main class="flex-grow-1 m-5">
        <div class="container-xxl">
            {% if current_user.is_authenticated %}
                <span class="mb-4 mx-2" style="font-size: 1.4em; color: darkslategrey; font-weight: bold;">Submissions</span>
                {% call(submission) render_table(submissions, 'Title', 'Status') %}
                    <td>
                        {{ submission.title }}
                    </td>
                    <td>
                        {{ submission.status }}
                    </td>
                {% endcall %}
                {% if buttons %}
                    <div class="mt-4">
                        {{ render_button(buttons[0]) }}
                    </div>
                {% endif %}

            {% else %}
                <p>Please <a href="{{ url_for('hydra.login') }}">log in</a> to access SAEON's data submission portal.
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}