.form-label {
    font-size: 1em !important;
    font-weight: bold;
    color: rgb(var(--bs-primary-rgb));
}

.form-text {
    font-size: 1em;
    margin-bottom: 10px;
}

.select2-container {
    width: 100% !important;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 2.5rem !important;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpolygon points='6,9 18,9 12,15' fill='%23888'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1rem;
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

select::-ms-expand,
.select2::-ms-expand {
    display: none;
}